{% load static %}
    <!--BAS DE PAGE-->
      <div class="card card-cover h-100 text-white bg-dark rounded-3 shadow-lg" style="">

      <div class="row margin">

     <div class="col-lg-3">
      <div class="text-secondary">
        <h5 class="text-start"><br>ELITE 243+</h5>
     </div>
        <p>Avec notre approche intégrée des affaires, de la formation et de la spiritualité, nous nous engageons à offrir des solutions
          complètes et personnalisées à chaque client.
           Rejoignez dès aujourd'hui une communauté d'individus engagés dans la réussite personnelle et professionnelle.</p>
        </div>

      <div class="col-lg-3">
        <h5 class="text-secondary"><br>SOUHAITEZ-VOUS DEVENIR...</h5>
        <a class="nav-link text-light" href="" tabindex="-1">Partenaire</a>
        <a class="nav-link text-light" href="" tabindex="-1">Fournisseur</a>
        <a class="nav-link text-light" href="" tabindex="-1">Acheteur régulier</a>
        <a class="nav-link text-light" href="" tabindex="-1">Acheteur grossiste</a>
      </div>
         <div class="col-lg-3">
            <h5 class="text-secondary"><br>A PROPOS</h5>
            <a class="nav-link text-light" href="" tabindex="-1">Notre équipe</a>
            <a class="nav-link text-light" href="./ELITE_243/nos_objectifs.html" tabindex="-1">Nos objectif</a>
            <a class="nav-link text-light" href="" tabindex="-1">Offre d'emploie</a>
          </div>
         <div class="col-lg-3">
            <h5 class="text-secondary"><br>RESEAU SOCIAUX</h5>
            <p>Pour voir nos publication régulièrement</p>
            <div>
              <a href="">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/fecebook.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
              <a href="">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/WHATSAPP.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
              <a href="">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/INSTAGRAM.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
              <a href="">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/TIKTOK.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
              <a href="">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/telegram.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
              <a href="">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="30px" height="35px" src="./ELITE_243/image/YOUTUBE.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
              </a>
            </div>
          </div>
        </div>
          <a class="nav-link text-secondary text-center" href="#">
            Haut de page<br>
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="25px" height="25px" src="{% static '/image/monte.png' %}" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><fill="#eee"/></img>
          </a>
          </div>

        <div class="text-center text-secondary" style="background-color: #000000;">
          <h6><br>&#169 2023 ELITE 243+ tous les drois reservés <br><br></h6>
        </div>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>