{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN::EVANGELISATION</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="text-light bg-dark">
        <h6 class="text-center">Welcome</h6>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-4 mx-auto"  style="border: 5px solid teal">
            <h4 class="text-center text-success">Connexion</h4>
            <img class="img-fluid" src="{% static 'image/eva.png' %}" alt="LOGO" width="50%" style="margin-left: 30%">
            <form method="POST">
                {% csrf_token %}
                <label for="username">Nom</label>
                <input class="form-control" type="text" name="username" id="username"><br><br>
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password"><br><br>

                <button type="submit" class=" btn btn-success text-light" style="margin-left: 25%">
                    Connexion
                </button>

                <a class="btn btn-info link-dark text-decoration-none" href="{% url 'accounts:register' %}">
                    S'inscrit ?
                </a>
                <br><br>
            </form>
        </div>
    </div>
    </div>
</body>
</html>